/* You can add global styles to this file, and also import other style files */
* {
	font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.full-width {
	width: 100%;
}

@media only screen and (max-width: 768px) {
	.full-width {
		width: calc(100% - 32px);
	}
}

.graph {
	width: 100%;
	height: calc(50vh - 32px) !important;
	background-color: red;
}

/* Allow to scroll through content on the tab body. */
md-tab-body {
	position: fixed !important; /* Fixes the position of the tabs. */
	min-height: 0 !important;
	top: 48px !important; /* Offset by the size of the tabs. */
	height: calc(100% - 112px) !important; /* Shows the bottom of the contents. */
}